{
  "extends": [
    "react-app",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "jsx-quotes": [
      1,
      "prefer-double"
    ],
    "@typescript-eslint/no-unused-expressions": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-confusing-non-null-assertion": "off"
  },
  "plugins": [
    "react",
    "prettier"
  ]
}