{
  "extends": [
    "react-app",
    "prettier"
  ],
  "rules": {
    "jsx-quotes": [
      1,
      "prefer-double"
    ],
    "@typescript-eslint/no-unused-expressions": "off"
  },
  "plugins": [
    "prettier",
    "react"
  ]
}