body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-weight: 800 !important;
}

p {
  color: #000033 !important;
  line-height: 1.3;
}

.news-item-title:hover {
  color: #1890ff !important;
}

.footer {
  border-top: 1px solid#f0f0f0;
  padding: 10px 20px;
  text-align: right;
}

.footer a {
  color: #000033 !important;
}

.footer a:hover {
  color: #1890ff !important;
}
